<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="/src/assets/fonts/FS Lola Regular.ttf" />
    <link rel="stylesheet" href="/src/assets/css/styles.css" />
    <title>Flow</title>
  </head>
  <body>
    <!-- Navigation -->
    <link rel="stylesheet" href="/dist/output.css" />
    <div class="mx-[80px] py-[24px]">
      <div class="flex justify-between items-center pb-[24px]">
        <div class="flex flex-row items-center justify-center space-x-[16px]">
          <a href="">
            <i
              class="fa-solid fa-calculator p-2 rounded-2xl text-[#500878] hover:bg-[#500878] hover:text-white transform translate hover:scale-105 duration-200 ease-in"
            ></i>
          </a>
          <a href="">
            <i
              class="fa-solid fa-location-dot p-2 rounded-2xl text-[#500878] hover:bg-[#500878] hover:text-white transform translate hover:scale-105 duration-200 ease-in"
            ></i>
          </a>
          <a href="">
            <i
              class="fa-solid fa-phone p-2 rounded-2xl text-[#500878] hover:bg-[#500878] hover:text-white transform translate hover:scale-105 duration-200 ease-in"
            ></i>
          </a>
        </div>
        <div
          class="bg-[#EFEFEF] rounded-[4px] flex items-center w-[699px] h-[42px]"
        >
          <label class="px-[8px]" for="search"
            ><img src="/src/assets/icons/gg_search.svg" alt="Icon"
          /></label>
          <input
            class="w-full bg-transparent mr-3 focus:outline-none"
            type="text"
            id="search"
            placeholder="Ketik untuk mencari"
          />
        </div>
        <div class="flex justify-end">
          <button
            class="bg-[#500878] text-white rounded-[6px] h-[42px] w-[40px] language font-myriad"
            type="button"
          >
            ID
          </button>
          <button
            class="rounded-[6px] h-[42px] w-[40px] language font-myriad"
            type="button"
          >
            EN
          </button>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <a href="">
          <img
            class="w-[198px]"
            src="/src/assets/images/navbar/logo.png"
            alt="Logo"
          />
        </a>
        <ul class="flex items-center space-x-[16px]">
          <li class="font-lola text-center w-[102px] hover:text-[#500878]">
            <a href="">Customer & Retail Banking</a>
          </li>
          <li class="font-lola text-center w-[102px] hover:text-[#500878]">
            <a href="">Enterprise Banking</a>
          </li>
          <li class="font-lola text-center w-[102px] hover:text-[#500878]">
            <a href="">E - Banking</a>
          </li>
          <li class="font-lola text-center w-[102px] hover:text-[#500878]">
            <a href="">Tentang Muamalat</a>
          </li>
          <li class="font-lola text-center w-[102px] hover:text-[#500878]">
            <a href="">Hubungi Kami</a>
          </li>
          <li class="font-lola text-center w-[102px] hover:text-[#500878]">
            <a href="">Karir</a>
          </li>
        </ul>
        <div>
          <button
            class="bg-[#500878] text-white font-myriad flex items-center rounded-[6px] px-[12px] h-[48px] w-[96px]"
            type="submiy"
            name="login"
          >
            Masuk
            <img
              class="ml-[8px]"
              src="/src/assets/icons/icon_arrow-down.svg"
              alt="Icon"
            />
          </button>
        </div>
      </div>
    </div>
    <!-- Navigation end -->
    <div class="h-screen">
      <div class="container bg-[#500878] w-full py-3">
        <h1 class="text-center text-white text-2xl font-lola">
          Pengajuan Pinjaman
        </h1>
      </div>
      <div
        class="container flex flex-col justify-center items-center py-4 mb-10"
      >
        <h1 class="text-2xl font-lola text-center text-[#500878] my-5">
          Ringkasan
        </h1>
        <img class="py-2" src="/src/assets/images/flow/progress2.svg" alt="" />
      </div>
      <div class="flex flex-col justify-center items-center">
        <div
          class="w-[916px] flex flex-col items-center border border-[#500878]"
        >
          <h1 class="text-3xl font-lola text-[#500878] pt-6">Ringkasan</h1>
          <table
            class="w-[916px] flex justify-center items-center table-fixed py-10"
          >
            <tr>
              <td class="py-3 font-lola w-[444px] text-2xl">
                Pengajuan KPR sebesar
              </td>
              <td class="py-3 font-lola w-[251px] text-[#500878] text-2xl">
                Rp500.000.000,00
              </td>
            </tr>
            <tr>
              <td class="py-3 font-lola w-[444px] text-2xl">
                Skema pembayaran DP sebesar
              </td>
              <td class="py-3 font-lola w-[251px] text-[#500878] text-2xl">
                Rp100.000.000,00
              </td>
            </tr>
            <tr>
              <td class="py-3 font-lola w-[444px] text-2xl">
                Pembayaran angsuran sebesar
              </td>
              <td class="py-3 font-lola w-[251px] text-[#500878] text-2xl">
                Rp8.498.818
              </td>
            </tr>
            <tr>
              <td class="py-3 font-lola w-[444px] text-2xl">Jangka waktu</td>
              <td class="py-3 font-lola w-[251px] text-[#500878] text-2xl">
                5 tahun
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
